.vscode/**
.vscode-test/**
.agents/**
.github/**
scripts/**
out/**
dist/images/**
node_modules/**
src/**
*.vsix
.gitignore
.yarnrc
bun.lock
CONTRIBUTE.md
vsc-extension-quickstart.md
copy-styles.js
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
